@charset "UTF-8";

@font-face {
    font-family: "Fonte";
    src: url(../design/Inter-VariableFont_slnt\,wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(233, 47%, 7%);
    font-family: "Fonte", Arial, Helvetica, sans-serif;
    color: whitesmoke;
    font-family: "Fonte";
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bloco {
    display: flex;
    flex-direction: row;
    width: 70vw;
    border-radius: 12px;

    background-color: hsl(244, 38%, 16%);

    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}


.status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#parteUM,
#parteDOIS {
    width: 50%;
}

#parteUM {
    padding: 40px;
    order: 1;
}

#parteDOIS {
    background-color: black;
    background-image: url(../images/image-header-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    order: 2;
}

#parteDOISb {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(277, 80%, 32%, 0.384);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.baixo {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.numero {
    font-size: 1.7em;
    font-weight: bold;
}

.nome {
    font-size: .6em;
    letter-spacing: 2px;
    color: hsla(0, 0%, 100%, 0.6);
}

/* Ajustes */
#bloco h1 {
    padding: 40px 0;
    font-size: 2.2em;
    text-align: center;
}

.texto {
    color: hsla(0, 0%, 100%, 0.6);
    padding-bottom: 50px;
}


#parteUM p.texto {
    line-height: 1.7;
    text-align: center;
}

.destaque {
    color: hsl(277, 64%, 61%);
}

/* media queries */
@media screen and (max-width: 900px) {
    #bloco {
        display: flex;
        flex-direction: column;
        /* width: 85vw; */
        margin: 50px 0;
    }

    #parteUM, #parteDOIS {
        width: 100%;
        display: flex;
    }

    #parteUM {
        order: 2;
        padding: 10px;
    }

    p.texto {
        font-size: 1em;
    }

    #parteDOIS {
        background-color: black;
        background-image: url("../images/image-header-desktop.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 0;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        order: 1;
        width: 100%;
        height: 400px;
    }

    #parteDOISb {
        position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 400px;
            background-color: hsla(277, 80%, 32%, 0.384);
    }

    .baixo {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .companies, .templates, .queries {
        padding: 20px 0px;
    }
}

@media screen and (max-width: 500px) {
    #bloco h1 {
        font-size: 1.5em;
        text-align: center;
    }

    #bloco {
        width: 85vw;
    }

    #parteDOIS, #parteDOISb {
        height: 300px;
    }
}